<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>468753528041-6al92g0kvuhboj260hcvvfr3ej0cg7s5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.468753528041-6al92g0kvuhboj260hcvvfr3ej0cg7s5</string>
	<key>API_KEY</key>
	<string>AIzaSyA-7SkrdxCy9wWt6rVYo_6iFoILYn1lx8w</string>
	<key>GCM_SENDER_ID</key>
	<string>468753528041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-cf246</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-cf246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468753528041:ios:fd953a904ee8a3a659ec78</string>
</dict>
</plist>